<div class="example-container">

    <mat-toolbar color="primary" class="toolbar">

        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
            <mat-icon *ngIf="sidenav.opened">close</mat-icon>
        </button>

        <h1 class="app-name" style="cursor: pointer" (click)="loadData()" [routerLink]="['/inicio']">COLOMBIA</h1>


    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/perfil">
            <mat-icon>account_box</mat-icon>
            <span>mi perfil</span>
        </button>
        <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            <span>Cerrar Sesion</span>
        </button>
    </mat-menu>
    
    </mat-toolbar>


   <mat-drawer-container class="example-sidenav-content" autosize>
    <mat-progress-bar *ngIf="progressbar" mode="buffer"></mat-progress-bar>
   <mat-drawer #sidenav style="width: 200px;" mode="side">

    

    <button mat-menu-item (click)="sidenav.toggle()" (click)="loadData()" style="cursor: pointer" [routerLink]="['/inicio']">
        <mat-icon>home</mat-icon>
        <span>inicio</span>
    </button>

        <button mat-menu-item (click)="sidenav.toggle()" (click)="loadData()" style="cursor: pointer" [routerLink]="['/buscar']">
            <mat-icon>search</mat-icon>
            <span>Departamento</span>
        </button>

        <button mat-menu-item (click)="sidenav.toggle()" (click)="loadData()" style="cursor: pointer" [routerLink]="['/ciudad']">
            <mat-icon>home_work</mat-icon>
            <span>Ciudades</span>
        </button>

        
        <mat-divider></mat-divider>
          
       </mat-drawer>
       <div class="example-sidenav-content">
           <router-outlet>
           </router-outlet>
       </div>
    </mat-drawer-container>

</div>